$font-primary: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;


// Colors - Theme
$primaryColor: #32CD32;
$darkBlack : #0A0A0A;
$white : white;
$lightWhite : #F5F5F5;
$backgroundColor : #212121;
